RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ignore .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [QSA,L]

# Rewrite /register to ?signup
RewriteRule ^(register|registrer|signup)$ index.php?signup [L,QSA]

# Rewrite /verify to ?verify
RewriteRule ^verify$ index.php?verify [L,QSA]

# Rewrite /reset to ?reset
RewriteRule ^reset$ index.php?reset [L,QSA]

# Rewrite /forgot to ?forgot
RewriteRule ^forgot$ index.php?forgot [L,QSA]

# Redirect /profile.php?u=username to /profile/username
RewriteCond %{QUERY_STRING} ^u=([^&]+)$
RewriteRule ^profile\.php$ /profile/%1? [R=301,L]

# Rewrite /profile/username to /profile.php?u=username
RewriteRule ^profile/([^/]+)$ profile.php?u=$1 [QSA,L]

# Rewrite /profile to /profile.php
RewriteRule ^profile$ profile.php [QSA,L]

# Rewrite /post/id to /post?id=id
RewriteRule ^post/([^/]+)$ index.php?post&id=$1 [QSA,L]

# Rewrite /group/name to /group?id=name
RewriteRule ^group/([^/]+)$ index.php?group&id=$1 [QSA,L]

# Rewrite /page/name to /page?id=name
RewriteRule ^page/([^/]+)$ index.php?page&id=$1 [QSA,L]
