RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ignore .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [QSA,L]

# Rewrite /register to ?signup
RewriteRule ^(reg|register|registrer|signup)$ index.php?signup [L,QSA]

# Rewrite /verify to ?verify
RewriteRule ^verify$ index.php?verify [L,QSA]

# Rewrite /reset to ?reset
RewriteRule ^(reset|tilbakestill)$ index.php?reset [L,QSA]

# Rewrite /forgot to ?forgot
RewriteRule ^(forgot|glemt)$ index.php?forgot [L,QSA]

# Rewrite /profile/username to /profile.php?user=username
RewriteRule ^(profile|profil)/([A-Za-z0-9-]+)/?$ profile.php?user=$2 [NC,L]

# Rewrite /profile to /profile.php
RewriteRule ^(profile|profil)$ profile.php [QSA,L]

# Rewrite /post/id to /post?id=id
RewriteRule ^(post|innlegg)/([^/]+)$ post.php?id=$1 [QSA,L]

# Rewrite /group/name to /group?id=name
RewriteRule ^(group|groups|gruppe|grupper)/([^/]+)$ group.php?id=$1 [QSA,L]

# Rewrite /page/name to /page?id=name
RewriteRule ^(page|pages|side|sider)/([^/]+)$ page.php?id=$1 [QSA,L]

# Rewrite betaaccess/code to ?betaaccess=code
RewriteRule ^betaaccess/([^/]+)$ index.php?betaaccess=$1 [QSA,L]