<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Remove .php extension -->
                <rule name="RemovePHPExtension" enabled="true" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>

                <!-- Rewrite /register to ?signup -->
                <rule name="RewriteRegister" stopProcessing="true">
                    <match url="^register$" />
                    <action type="Rewrite" url="?signup" appendQueryString="true" />
                </rule>
                <rule name="RewriteRegisterFrench" stopProcessing="true">
                    <match url="^registrer$" />
                    <action type="Rewrite" url="?signup" appendQueryString="true" />
                </rule>
                <rule name="RewriteSignup" stopProcessing="true">
                    <match url="^signup$" />
                    <action type="Rewrite" url="?signup" appendQueryString="true" />
                </rule>

                <!-- Rewrite /verify to ?verify -->
                <rule name="RewriteVerify" stopProcessing="true">
                    <match url="^verify$" />
                    <action type="Rewrite" url="?verify" appendQueryString="true" />
                </rule>

                <!-- Rewrite /reset to ?reset -->
                <rule name="RewriteReset" stopProcessing="true">
                    <match url="^reset$" />
                    <action type="Rewrite" url="?reset" appendQueryString="true" />
                </rule>

                <!-- Rewrite /forgot to ?forgot -->
                <rule name="RewriteForgot" stopProcessing="true">
                    <match url="^forgot$" />
                    <action type="Rewrite" url="?forgot" appendQueryString="true" />
                </rule>

                <!-- Rewrite /profile/user to /profile?user=user -->
                <rule name="RewriteProfile" stopProcessing="true">
                    <match url="^profile/([^/]+)$" />
                    <action type="Rewrite" url="profile?user={R:1}" appendQueryString="true" />
                </rule>

                <!-- Rewrite /post/id to /post?id=id -->
                <rule name="RewritePost" stopProcessing="true">
                    <match url="^post/([^/]+)$" />
                    <action type="Rewrite" url="post?id={R:1}" appendQueryString="true" />
                </rule>

                <!-- Rewrite /group/name to /group?id=name -->
                <rule name="RewriteGroup" stopProcessing="true">
                    <match url="^group/([^/]+)$" />
                    <action type="Rewrite" url="group?id={R:1}" appendQueryString="true" />
                </rule>

                <!-- Rewrite /page/name to /page?id=name -->
                <rule name="RewritePage" stopProcessing="true">
                    <match url="^page/([^/]+)$" />
                    <action type="Rewrite" url="page?id={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="http://dev.skybyn.no/" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
